# Maven
target/
.mvn/
*.versionsBackup

# Node
node_modules/
dist/
*.tsbuildinfo

# IDE
.idea/
.vscode/
*.iml
*.iws
*.ipr

# OS
.DS_Store
Thumbs.db

# Logs
*.log
hs_err_pid*.log
hs_err_pid*.jfr
replay_pid*.log
